@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 20px;
    background-color: #110f12;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #eae0cf;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #eae0cf;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation a:hover {
    
    color: #61a5c5;   
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #eae0cf;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #eae0cf;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #eae0cf;
    color: #162938;

}

/*<<<<---------Contact.html---------->>>>*/
#contact {
    width: 50%;
    margin-top: 20px;
    padding: 100px 0px;
}
.contact_form{
    margin: 30px 30px;
    
}

.contact_form h2{
    color: #162938;
    font-size: 34px;
    padding: 5px 0;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    text-decoration: none;
    margin: 10px 0;
}
.contact_form label{
    display: block;
    color: #162938;
    font-size: 18px;
    padding: 5px 0;
    font-family: 'Poppins', sans-serif;
}
.contact_form input,.contact_form textarea{
    padding: 10px;
    width: 100%;
    border-color: #162938;
}
.contact_form input[type=submit]{
    background-color: #260745;
    color: white;
    border: none;
}
.contact_form input[type=submit]:hover{
    background-color: #162938;
    cursor: pointer;
}
.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500; 
 }
.banner {
    width: 80%;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 33.33%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #61a5c5;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li {
    font-size: 16px;
    font-weight: 300;
    color: #bbbbbb;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.footer p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    color: #eae0cf;
}


/*<<<<<<<<---------Blog----------->>>>>>>>>*/
#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    margin-top: 60px;
}
.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span {
    color: #61a5c5;
    font-weight: 600;
}
.blog-heading h3 {
    font-size: 2.4rem;
    color: #162938;
    font-weight: 600;
}
.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
    flex-wrap: wrap;
}
.blog-box {
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #eae0cf;
    margin: 20px;
}
.blog-img {
    width: 100%;
    height: auto;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span {
    color: #162938;
    font-size: 0.9rem;
}
.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #162938;
}
.blog-text .blog-title:hover {
    color: #61a5c5;
    transition: all ease 0.3s;
}
.blog-text a {
    color: #162938;
    font-size: 18px;
}
.blog-text a:hover {
    color: #61a5c5;
    transition: all ease 0.3s;
}



